body {
  margin: 0;
  font-family: "Roboto", Tahoma, Arial;
  background: #fbfbfb;
}

nav {
  background: #fff;
  padding: 0.5em;
  display: flex;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.keen-logo {
  height: 2.5em;
  margin-right: 0.5em;
}

.nav-tabs {
  border: 0px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
  border: 1px solid #fff;
}

.nav-links {
  flex: 1;
}

.nav-deploy-buttons {
  flex: 0;
  flex-wrap: nowrap;
}

.nav-deploy-buttons .nav-link {
  padding: 0 0.5rem 0 0;
}

.keen-dataviz {
  font-family: "Roboto", Tahoma, Arial;
}

.keen-c3-legend-horizontal {
  padding: 0em;
  height: 1.8em;
}

.keen-c3-legend-horizontal-items {
  display: flex;
  flex-direction: row;
  height: 1.5em;
}

.keen-dataviz-rendering .c3-chart {
  flex-grow: 3;
}

.keen-dataviz-metric-combo {
  width: 100%;
  height: 120px;
}

.c3-line {
  stroke-width: 3px;
}

.c3-tooltip {
  background: #555;
  color: #fff;
}

.c3-tooltip-container {
  z-index: 99999999;
}

.c3-tooltip-container span {
  border-radius: 100%;
}

.keen-dataviz .c3-tooltip-container th {
  color: #fff;
}

.keen-dataviz .keen-dataviz-table .table-data-row td,
.keen-dataviz .keen-dataviz-table .table-data-row:hover td {
  background-color: #fff;
}

.keen-dataviz .keen-dataviz-table .table-data-row:nth-child(2n) td {
  background-color: #fbfbfb;
}

.c3-axis-y g:nth-child(2n+1) {
  display: none;
  opacity: 0;
}

.c3-ygrids line:first-child{
  display: none;
  opacity: 0;
}

.keen-c3-legend .legend-item {
  width: auto;
}

.c3 svg {
  font: inherit;
}

.keen-dataviz .tick line, .keen-dataviz path.domain {
  stroke-opacity: .1;
}

.c3-axis {
  fill: #636363;
  font-size: 0.8em;
}

.keen-c3-legend-pagination-icons i {
  border-top: 1.5em solid #e5e5e5;
}

.keen-c3-legend-bottom {
  margin-top:1em;
  height: 2.5em;
}

.keen-c3-legend .legend-item {
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.keen-dataviz .keen-dataviz-table {
  border: 0;
}

.keen-dataviz .keen-dataviz-table table {
  font-size: 0.8em;
  height: 100%;
}

.keen-c3-legend .legend-item-color-sample {
  width: 1em;
  height: 1em;
  border-radius: 100%;
}

.map {
  width: 100%;
  height: 500px;
  border-radius: 0.3em;
}

.metric-box {
  display: flex;
  flex-direction: row;
  padding: 1.5em;
  align-items: center;
}

.metric-box .label {
  align-self: flex-start;
  flex: 3;
  align-items: center;
}

.metric-box .value{
  align-self: flex-start;
  font-size: 1.3em;
  flex: 1;
  align-items: center;
}

.metric-box .title{
  align-self: flex-start;
  flex: 1;
  font-size: 0.8em;
  align-items: center;
}

.metric-box .fas {
  align-self: flex-start;
  color: #5e77ff;
  font-size: 3.1em;
  align-items: center;
  flex: 1;
  display: flex;
  height: 100%;
  padding-right: 0.4em;
}

.chart-inline-label-increased {
  color: #13d0a7;
}

.chart-inline-label-decreased{
  color: #ed6a7b;
}

.chart {
  width: 100%;
  height: 120px;
  padding: 0;
}

.chart .keen-dataviz-title {
  padding: 0.8em;
  margin-bottom: 0.5em;
}

.chart .c3-line {
  stroke-width: 2px;
}

.chart .c3-area-Result {
  opacity: 0.05 !important;
}

.perecent-difference {
  position: absolute;
  right: 0.8em;
  top: 0.8em;
}

.perecent-difference i {
  margin-right: 0.2em;
}

/* .current-count {
  position: absolute;
  margin: 2em 0 0;
  width: 100%;
  text-align: center;
  font-size: 1.8em;
} */

.chart-top-referrers {
  height: 350px;
}

.keen-c3-legend-pagination-icons {
  height: 1.5em;
}

.chart-top-referrers .keen-c3-legend {
  width: 270px;
}

.c3-axis-y:nth-child(1){
  display: none;
}

.keen-c3-legend{
  width: 130px;
  z-index: 99999;
  position: absolute;
  right: 0;
  top: 1em;
}

.keen-c3-legend .legend-item {
  width: 100%;
}

.keen-c3-legend {
  width: 88px;
  z-index: 99999;
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  overflow: hidden;
}

.chart-top-referrers .keen-dataviz-title {
  font-size: 1.2em;
}

.alternative .chart-inline-label-decreased {
  color: #5e77ff;
}

.box-small .keen-dataviz-title {
  font-size: 1.1em;
}

.chart-box,
.chart-box-metric {
  border: 1px solid #0000000d;
  background: transparent;
  border-radius: 2px;
  box-sizing: border-box;
  border-radius: 0.3em;
  box-shadow: none;
  flex: 1;
}

.map-label {
  padding: 0.6em 0.3em 0.3em;
  font-size: 1.3em;
}

.chart-views-uniques-7d .keen-dataviz-title {
  margin-bottom: 0.6em;
}

.chart-views-uniques-7d .keen-c3-legend {
  width: 170px;
}

.chart-pageviews-by-country-interval-daily .keen-c3-legend {
  width: 120px;
  top: 100px;
}

.chart-views-uniques-7d,
.chart-pageviews-by-country-interval-daily,
.chart-views-by-hour,
.chart-pageviews-by-day-of-week,
.chart-count-views-by-page,
.chart-longest-time-on-page,
.chart-pageviews-by-user,
.chart-pageviews-by-referrer,
.chart-top-pages-with-referral,
.chart-pageviews-by-os,
.chart-top-pages-screen-width,
.chart-clicks-by-country-daily,
.chart-clicks-by-country,
.chart-clicks-by-html-tag,
.chart-clicks-by-button-in-org-section,
.chart-clicks-by-button-in-static-section,
.chart-clicks-api-docs-sdks,
.chart-clicks-login-google-github,
.chart-clicks-api-docs-sdks-by-country,
.chart-clicks-explorer
{
  height: 24em;
}

.chart-table {
  height: 24em;
}

.chart-table .keen-dataviz .keen-dataviz-table {
  height: 20em;
}

.chart-count-views-by-page .keen-dataviz-title,
.chart-top-pages-screen-width .keen-dataviz-title,
.chart-clicks-by-country-daily .keen-dataviz-title,
.chart-clicks-by-country .keen-dataviz-title,
.chart-clicks-by-button-in-org-section .keen-dataviz-title,
.chart-clicks-by-button-in-static-section .keen-dataviz-title,
.chart-clicks-by-html-tag .keen-dataviz-title,
.chart-clicks-api-docs-sdks .keen-dataviz-title,
.chart-clicks-login-google-github .keen-dataviz-title,
.chart-clicks-api-docs-sdks-by-country .keen-dataviz-title,
.chart-table .keen-dataviz-title {
  margin-bottom:0;
  padding-bottom: 0;
}

.chart-count-views-by-page .keen-c3-legend {
  width: 88px;
  z-index: 99999;
  position: absolute;
  right: 8%;
  top: 22%;
  overflow: hidden;
}

.chart-count-views-by-page .keen-c3-legend {
  width: 150px;
  overflow: visible;
}

.keen-dataviz-title {
  font-size: 1.3em;
  color: #485465;
}

.chart-table .keen-dataviz-table td,
.chart-table .keen-dataviz-table th {
  padding: 1.5em;
}

.chart-pageviews-by-referrer .c3-chart {
  flex-grow: inherit;
  padding-left: 25%;
  margin-top: -5%;
}

.chart-pageviews-by-referrer .keen-c3-legend {
  width: 170px;
  left: 1.2em;
  top: 3.7em;
}

.chart-count-views-by-page .c3-chart {
  flex-grow: inherit;
  padding-left: 37%;
  margin-top: -5%;
}

.chart-count-views-by-page .keen-c3-legend {
  width: 190px;
  left: 1.2em;
  top: 3.7em;
}

.chart-clicks-by-country-daily .keen-c3-legend,
.chart-clicks-by-country .keen-c3-legend,
.chart-clicks-by-button-in-static-section .keen-c3-legend {
  width: 120px;
}

.row{
  margin: 0 -1rem 1rem;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  padding: 0 0.5rem;
}

#tab-content-views > div:nth-child(3) > div.col-sm-4 > div > div > div.keen-dataviz-rendering.keen-dataviz-rendering-vertical > div > svg > g:nth-child(2) > g.c3-axis.c3-axis-y > g:nth-child(2) > text > tspan,
#tab-content-views > div:nth-child(3) > div.col-sm-8 > div > div > div.keen-dataviz-rendering.keen-dataviz-rendering-vertical > div > svg > g:nth-child(2) > g.c3-axis.c3-axis-y > g:nth-child(2) > text > tspan,
#tab-content-clicks > div:nth-child(1) > div > div > div > div.keen-dataviz-rendering.keen-dataviz-rendering-vertical > div.c3-chart.c3 > svg > g:nth-child(2) > g.c3-axis.c3-axis-y > g:nth-child(2) > text > tspan,
#tab-content-clicks > div:nth-child(1) > div > div > div > div.keen-dataviz-rendering.keen-dataviz-rendering-vertical > div.c3-chart.c3 > svg > g:nth-child(2) > g.c3-axis.c3-axis-x > g:nth-child(2) > text > tspan,
#tab-content-overview > div.row.d-flex > div.col-sm-7.d-flex > div > div > div > div.keen-dataviz-rendering.keen-dataviz-rendering-horizontal > div > svg > g:nth-child(2) > g.c3-axis.c3-axis-y > g:nth-child(2) > text > tspan,
#chart-views-uniques-7d > div > div.keen-dataviz-rendering.keen-dataviz-rendering-horizontal > div.c3-chart.c3-chart-100-percent.c3 > svg > g:nth-child(2) > g.c3-axis.c3-axis-y > g:nth-child(2) > text > tspan,
#tab-content-overview > div.row.d-flex > div > div > div > div > div.keen-dataviz-rendering.keen-dataviz-rendering-horizontal > div > svg > g:nth-child(2) > g.c3-axis.c3-axis-y > g:nth-child(2) > text > tspan
{
  display: none;
}
