body {
  margin: 0;
  padding: 20px;
}

h1 {
  font-weight: 200;
  margin: 0;
}
h2 {
  font-size: 21px;
  margin: 48px 0 24px;
  text-transform: uppercase;
}
h3 {
  font-size: 16px;
  margin: 0 0 24px;
}

#theme-selector {
  background: #FFF;
  border-radius: 0 0 2px 2px;
  padding: 5px 10px 0;
  position: absolute;
  right: 20px;
  top: 0px;
  width: 200px;
}
#theme-selector label {
  display: block;
}
#theme-selector select {
  display: block;
  height: 32px;
  width: 100%;
}

.chart-box {
  padding: 15px;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  box-sizing: border-box;
}

.chart {
  height: 300px;
}

.keen-dataviz-metric {
  height: 332px;
}

.keen-dataviz .keen-dataviz-table {
  height: 250px;
}

.keen-c3-legend-horizontal{
  padding: 0em;
  height: 1.8em;
}
.keen-dataviz-rendering .c3-chart {
  flex-grow: 3;
}
