
.demo-theme-dashboard .keen-dataviz {

}
.demo-theme-dashboard .keen-dataviz-title {

}
.demo-theme-dashboard .keen-dataviz-stage {
  padding: 10px;
}
.demo-theme-dashboard .keen-dataviz-notes {
  background: #fbfbfb;
  border-radius: 0 0 2px 2px;
  border-top: 1px solid #e7e7e7;
  font-size: 11px;
  padding: 0 10px;
}

.demo-theme-dashboard .keen-dataviz .keen-dataviz-metric {
  border-radius: 2px;
}

.demo-theme-dashboard .keen-dataviz .keen-spinner-indicator {
  border-top-color: rgba(0, 187, 222, .4);
}
