.demo-theme-dashboard h1 {
  color: #333;
}
.demo-theme-dashboard h2 {
  color: #555;
  font-size: 18px;
}
.demo-theme-dashboard h3 {
  color: #888;
  font-size: 14px;
  font-weight: 200;
  margin: 20px 0 5px;
  text-transform: uppercase;
}

.demo-theme-dashboard .keen-dataviz {

}
.demo-theme-dashboard .keen-dataviz-title {
  padding: 1rem;
  text-transform: uppercase;
}
.demo-theme-dashboard .keen-dataviz-stage {
  padding: 10px;
}
.demo-theme-dashboard .keen-dataviz-notes {
  background: #fbfbfb;
  border-radius: 0 0 2px 2px;
  border-top: 1px solid #e7e7e7;
  font-size: 11px;
  padding: 0 10px;
}

.demo-theme-dashboard .keen-dataviz .keen-dataviz-metric {
  border-radius: 2px;
}

.demo-theme-dashboard .keen-dataviz .keen-spinner-indicator {
  border-top-color: rgba(0, 187, 222, .4);
}
